*  {
    margin:0;
    padding:0;
  }
  .testeclass:link{
  text-decoration: none;
  font-size: 15px;
  }
  #meuSair{
    background-color: red;
    color: white;
  }
  #meuA{
    color: white;
  }
  #meuA:link{
    text-decoration: none;
    color: white;
  }
  
  #meuA:hover{
    background-color: #CAD0E0;
    border-radius: 5%;
  }
  #tituloNoticia{
    color: white;
    font-size: 50px;
    font: bold;
  }
 #resumoNoticia{
   font-size: 50px;
 }
  
  #meuH5{ 
    color: #E87241 !important;
  };
  
  #meuP{
    color: black !important;
  }
  #meuMenu{
    background-color: black;
    
  }
  #meuFooter{
    background-color: #FF6E55;
    /*position:absolute;*/
    bottom:0;
    width:100% !important;
  }
  #teste{
    height: 100px;
  }
  
  #meuFormLogin{
    background-color: #FF6E55;
    border-radius: 1%;
    -webkit-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
        -moz-box-shadow:    9px 7px 5px rgba(50, 50, 50, 0.77);
        box-shadow:         15px 7px 5px rgba(50, 50, 50, 0.77);
  }
  #meuFormCadastro{
      background-color: #E87241;
      border-radius: 1%;
      -webkit-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
        -moz-box-shadow:    9px 7px 5px rgba(50, 50, 50, 0.77);
        box-shadow:         15px 7px 5px rgba(50, 50, 50, 0.77);
  }
  #meuBody{
    /* background-color: #FF7B36; */
    background-color: #F2B705;
    /* min-height:100%;
    position:relative;
    width:800px; */
  }
  #meuContainerLogin{
    /* background-color: #FF6F47; */
    background-color: #F2B705;
  }

#divNoticias{
    margin-top: 20px;
    
}

#Botoes{
  display: flex;
    align-items: baseline;
}