*  {
    margin:0;
    padding:0;
  }
  .testeclass:link{
  text-decoration: none;
  font-size: 15px;
  }
  #meuBtnSair{
    background-color: red;
    color: white;
    height: 30px;
  }
  #meuBtnMyconta{
    background-color: rgba(183, 255, 74, 0.795);
    color: white;
    height: 30px;
  }
  #meuA{
    color: white;
}
#meuAMenu{
        color: white;
        margin-right: 15px;
        margin-bottom: 0px;
}
  #meuA:link{
    text-decoration: none;
    color: white;
  }
  
  #meuA:hover{
    background-color: #CAD0E0;
    border-radius: 5%;
  }
  #tituloSlide{
    color: white;
    font-size: 50px;
    font: bold;
    text-shadow: 2px 2px rgba(0,0,0, .5);
  }
 #resumoSlide{
   font-size: 22px;
   text-shadow: 2px 2px rgba(0,0,0, .5);
 }
  
  #meuH5{ 
    color: #E87241 !important;
  };
  
  #meuP{
    color: black !important;
  }
  #navbarsExampleDefault{
      display: flex !important;
  }
  #meuMenu{
    background-color: black;
    border-radius: 0px;
    
  }
  #meuFooter{
    background-color: black;
    /* position: fixed; */
    /* bottom:0; */
    width:100% !important;
  }
  #teste{
    height: 60px;
  }
  
  #meuFormLogin{
    background-image: linear-gradient(to right top, #e89141, #eb9c3d, #eda739, #eeb236, #eebe34);
    border-radius: 1%;
    -webkit-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
        -moz-box-shadow:    9px 7px 5px rgba(50, 50, 50, 0.77);
        box-shadow:         15px 7px 5px rgba(50, 50, 50, 0.77);
  }
  #meuFormCadastro{
    background-image: linear-gradient(to right top, #e89141, #eb9c3d, #eda739, #eeb236, #eebe34);
      border-radius: 1%;
      -webkit-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
        -moz-box-shadow:    9px 7px 5px rgba(50, 50, 50, 0.77);
        box-shadow:         15px 7px 5px rgba(50, 50, 50, 0.77);
  }
  #meuFormUser{
      border-radius: 1%;
      -webkit-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
        -moz-box-shadow:    9px 7px 5px rgba(50, 50, 50, 0.77);
        box-shadow:         15px 7px 5px rgba(50, 50, 50, 0.77);
  }
  #meuBody{
    /* background-color: #FF7B36; */
    /* background-color: #F2B705; */
    /* background-image: linear-gradient(to right top, #e89141, #eb9c3d, #eda739, #eeb236, #eebe34); */
    background-color: #191819;
    /* min-height:100%;
    position:relative;
    width:800px; */
  }
  #meuContainerLogin{
    /* background-color: #FF6F47; */
    background-color: rgba(245, 229, 181, 0);
  }

#divNoticias{
    margin-top: 20px;
    
}

#Economia{
    color:rgba(144, 238, 90, 0.808);
}
#Mundo{
    color:rgba(37, 111, 248, 0.808);
}
#Politica{
    color:rgba(221, 23, 23, 0.808);
}
.Economia{
    box-shadow: rgba(144, 238, 90, 0.808) !important;
}
.Mundo{
    box-shadow:rgba(37, 111, 248, 0.808) !important;
}
.Politica{
    box-shadow:rgba(221, 23, 23, 0.808) !important;
}

.Direito{
    box-shadow: 8px 15px 8px #888888 !important;
    border: 0,5px solid !important;
    padding: 10px !important;
}
.Esquerdo{
    box-shadow: -8px 15px 8px #888888!important;
    border: 0,5px solid !important;
    padding: 10px !important;
}

.shadowCarousel{
    box-shadow: -10px 20px 18px #888888 !important;
}

#minhaImg{
  
  width: 600px;
  height: 300px;
  }
#minhaDivNoticia{
  display: block;
  text-align: center;
  padding-top: 5px !important;

}
#meuh4{
  color: #808080d4;
  font-size: larger;
  font-style: italic;
  font-family: sans-serif;

}
.img-noticia{
  border-radius: 2%;
}

#Botoes{
  display: flex;
    align-items: baseline;
}

.escondido{
  visibility: hidden;
}

/*table style*/
.table-wrapper{
  margin: 10px 70px 70px;
  box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
}

.fl-table {
  border-radius: 5px;
  font-size: 12px;
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  white-space: nowrap;
  background-color: white;
}

.fl-table td, .fl-table th {
  text-align: center;
  padding: 8px;
}

.fl-table td {
  border-right: 1px solid #f8f8f8;
  font-size: 12px;
}

.fl-table thead th {
  color: #ffffff;
  background: #4FC3A1;
}


.fl-table thead th:nth-child(odd) {
  color: #ffffff;
  background: #324960;
}

.fl-table tr:nth-child(even) {
  background: #F8F8F8;
}

